<select id="findCartItemsWithDetailsByUserId" parameterType="Integer" resultType="CartItemDetailDto">
    SELECT
    ci.cart_item_id as cartItemId,  p.product_id as productId,
    p.product_name as productName,
    p.image_url as imageUrl,
    p.price as price,
    ci.quantity as quantity
    FROM
    cart_item ci
    JOIN
    product p ON ci.product_id = p.product_id
    WHERE
    ci.user_id = #{userId}
</select>