<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jb.studio.ground.grocerymarket.mapper.UserMapper"> <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId" parameterType="jb.studio.ground.grocerymarket.domain.entity.User">
    INSERT INTO Users(
    username,email,phoneNumber,address,userType,createdAt,updatedAt,password
    )
    VALUES(
    #{username},#{email},#{phoneNumber},#{address},#{userType},#{createdAt},#{updatedAt},#{password}
    )
</insert>
    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="productId" parameterType="jb.studio.ground.grocerymarket.domain.entity.Product">
        INSERT INTO Products (
        productName,
        categoryId,
        price,
        stockQuantity,
        productDescription,
        imageUrl,
        isActive
        )
        VALUES (
        #{productName},
        #{categoryId},
        #{price},
        #{stockQuantity},
        #{productDescription},
        #{imageUrl},
        #{isActive}
        )
    </insert>
</mapper>



